html{
    font-family: 'Times New Roman', 'Helvetica';
    color: black;
}
main p{
    font-size: 18px;
    text-align: center;
}
main h1{
    font-size: 30px;
    text-align: center;
}
main button{
    background-color: darkgrey;
    color: white;
}
main form{
    text-align: center;
}