html{
    font-family: 'Times New Roman', 'Helvetica';
    color: black;
}
main{
    background-color: rgb(236, 231, 231);
}
main p{
    font-size: 18px;
}
main h1{
    font-size: 24px;
}
main button{
    background-color: darkgrey;
    color: white;
}
