@font-face {
    font-family: titleFont;
    src: url(/fonts/BeauRivage-Regular.ttf) format("truetype");
}

html {
    font-family: Merienda, serif;
}

header {
    background-color: #dfe093;
    margin-top: -50px;
    padding: 10px;
    height: 210px;
    text-align: center;
    /* border: 4px solid black; */
    font-size: 30px;

}

h1#humbereatlogo{
    font-size: 75px;
    font-family: titleFont;
    margin-top: 80px;

}

img#logo {
    float: left;
    margin-top: -190px;
    margin-left: 50px;
    padding: 5px;
    
}
/* 
@media (max-width: 920px) {
    #humbereatlogo {
        position: absolute;
        right: 0;
        z-index: 1;
        display: block;
        width: 175;
    }

    #logo {
        position: absolute;
        left: 10px;
        z-index: 1;

    }
} */

/* Nav bar CSS */

nav ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

nav li a {
    color: rgb(219, 188, 188);
    text-decoration: none;
    background: linear-gradient(to right,  black 50%, rgb(50 34 34) 50%);
    background-size: 200% 100%;
    background-position: right;
    padding: 4px 8px;
    margin: 0px 10px;
    border-radius: 5px;
    font-family: Merienda;
}

nav li a:hover {
    border-radius: 5px;
    transition: 0.8s ease;
    background-position: left;
    color: red;
}

nav li {
    display: inline;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    
}

nav {
    display: flex;
    background-color: rgb(50 34 34);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

/* Mobile Nav CSS */

#mobileNav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(50 34 34);
    overflow: hidden;
    transition: 0.5s;
}

#navOverlay {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#mobileNav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(219, 188, 188);
    display: block;
    transition: 0.3s;
}

#mobileNav a:hover {
    color: red;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#socialIcons a {
    font-size: 24px;
}

#smallScreenIcon {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 600px) {
    #mobileNav a {font-size: 20px}
    #closeButton {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}



@media screen and (max-width: 825px) {
    #smallScreenIcon {
        display: block;
    }
    nav li {
        display: none;
    }
}

body {
    background-color: rgb(236, 231, 231);
    margin: auto;
} 

h2#resForm{
    font-size: 30px;
    margin-left: 485px;
}

#reservationForm {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: left;
    width: 700px;
    margin: auto;
    font-size: 17px;
    
}

.container{
    padding: 20px;
    border-radius: 8px;

}

form{
    display: grid;


}

label{
    font-weight: bold;
}

#submitReservation{
    background-color: rgb(68, 68, 232);
    color: white;
    cursor: pointer;
}


#aboutUs{
    font-size: 35px;
    font-style: italic;
}

h4{
    font-size: 22px;
}

img#staff{
    margin-left: 200px;
}

p#aboutPara{
    font-size: 18px;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    background-color: #dfe093;
}

footer p {
    margin-block-end: 0px;
}

footer a {
    color: black;
    font-family: Merienda;
}

body {
    background: linear-gradient(to right, #f7eed5e3, #ffe1bfda);
    min-height: 100vh;
}





